<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <thead>
        <th>Name</th>
        <th>Age</th>

      </thead>
    </table>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> <%= myName %> </p>
  </body>
</html>

